---
import Layout from "../layouts/Layout.astro";

---
<Layout title="About">

<h1>About</h1>


<p>
    “Hi there! 
    I’m Michał.<sup>What the heck is this?</sup> <br> <br>
    In case you wonder: This weird letter "ł" is read as [w] and comes from Polish.
<br><br>
    
    I’m a <strong>musician</strong> and passionate tech-enthusist who fell in love with programming and solving problems with a code.
    
    
    Until this point I was building a career as a jazz musician, but some inner voice (and lot of lucky accidents) were bringing me back
    to the web development, so I joined Scrimba's The Frontend Developer Career Path and ...


    My first experience with programming was when I 
    was 12, but I didn’t last long: I was a big fan of computer-animated 
    TV shows like Reboot, and I decided I wanted to do “computer graphics”. 
    My mom bought me a C++ Reference Manual. It was several hundred pages, and totally 
    inscrutable to me.Years later, I decided to try learning Python. It was a radically 
    different experience. I distinctly remember the moment it clicked; I was watching 
    The Price is Right, and they were spinning the big wheel. A contestant landed on 0.70, and it 
    made me wonder: statistically, what was their best move?It occurred to me: I had the skills to 
    build a simulation! So I threw together a Python script that would run thousands of simulations to work 
    out what the right answer was. 15 minutes later, I had the answer. My burgeoning skillset 
    was a superpower: I could derive answers that were previously off-limits to me. It was magic.”


</p>
</Layout>