---
import Layout from '../layouts/Layout.astro';
import Image from 'astro:assets'
import heroImage from '../assets/images/hero-photo.jpg'
---

<Layout title="Welcome to Astro.">
	<main>


<!-- hero -->
<section id="hero">

<p>Junior frontend developer</p>

<Image 
src={heroImage.src}
alt={"suhuh"}
/>

</section>



	</main>
</Layout>


