---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import heroImage from '../assets/images/hero-photo.jpg'
---

<Layout title="Michał Wierzgoń">
	<main>


<!-- hero -->
<section id="hero">

<p>Junior frontend developer</p>

<Image
src={heroImage}
alt="A photo of Michał Wierzgoń smiling"/>

</section>



	</main>
</Layout>


