---
import Layout from '../../layouts/Layout.astro';
import { getCollection, CollectionEntry } from "astro:content";

// What this does?
export const getStaticPaths = async () => {
    const projects = await getCollection("projects")
    const paths = projects.map(project => {
        return {
            params: {
                slug: project.slug
            },
            props: {
                project
            }
        }
    })
    return paths
}


type Props = {
    project: CollectionEntry<"projects">
}


const { project } = Astro.props;
const { Content } = await project.render()

---


<Layout title={project.data.name}>
    <main>

        <h1 class="text-3xl text-black">{project.data.name}</h1>





    </main>
</Layout>